* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    }

body{
    background-color: #171717;
}
    .header {   
    width: 1312px;
    height: 19px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    
    }
    .header__logo {
        font-family: 'Inter';
        font-size: 14px;
    }
    .header__nav {
        width: 550px;
        height: 19px;
        display: flex;
        justify-content: space-between;

    }
    .nav__link {
        color: #fff;
        font-family: 'Inter';
        font-size: 14px;
    }

    .main {
    width: 1200px;
    height: 700px;
    margin: 150px auto;
    position: relative;
    
    overflow: hidden;
    }
    .main__title {
    color: #fff;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 172px;
    font-style: normal;
    font-weight: 800;
    line-height: 170px; 
    letter-spacing: -2px;
    text-transform: uppercase;
    
    animation: workout 5s  cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
    animation-delay: 1s;
    transform: translateX(-1200px)
    }
    @keyframes workout{
    0%{
        transform: translateX(-1200px)
    }
    100%{
        transform: translateX(0px);
        
    }
    }
    
    
    .main__txt {
    color: rgba(239, 237, 232, 0.65);
    width: 560px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.5px;
    margin: 70px 0;
    animation: txt 5s linear ;
    
    
    }
    @keyframes txt{
        0%{
            transform: translateX(-1700px)
        }
        100%{
            transform: translateX(0px);
            
        }
        }
    .main__button {
    padding: 24px 25px;
    background-color: #E6533C ;
    border-radius: 10px;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
    letter-spacing: 1px;
    animation: button 8s linear;
    position: absolute;
    }

    @keyframes button{
        0%{
            transform: translateX(-2500px)
        }
        100%{
            transform: translateX(0);
        }
    }

    .main_img-1 {
        top: 60px;
        position: absolute;
        width: 320px;
        right: 100px;
        z-index: 1;
        animation: sportik 2s linear forwards;
        
    }
    @keyframes sportik{
        0%{
            transform: scale(0);
            
        }
        100%{
            transform: scale(1) rotate(360deg);
            
        }
    }
    .main_img-2 {
        position: absolute;
        top: 15px ;
        right: 15px;
        animation: box-1 5.5s linear forwards;
    }
    @keyframes box-1{
        0%{
            transform: scale(0);
            
        }
        100%{
            transform: scale(1) rotate(360deg);
            
        }
    }
    .main_img-3 {
        position: absolute;
        bottom: 170px;
        right: 0px;
        animation: box-2 5s linear forwards;
    }
    @keyframes box-2{
        0%{
            transform: scale(0);
            
        }
        100%{
            transform: scale(1) rotate(360deg);
            
        }
    }
    .main_img-4 {
        position: absolute;
        bottom: 250px;
        right: 370px;
        animation: box-2 4.5s linear forwards;
    }
    @keyframes box-3{
        0%{
            transform: scale(0);
            
        }
        100%{
            transform: scale(1) rotate(360deg);
            
        }
    }